.w-demo-form input,
.w_demo-login-form input{
    display:block;
    width:100%;
}

.andon-form button,
.w_demo-login-form input[type="submit"]{
    background:#444;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
    padding:1em;
    font-size:1.2em;
    cursor:pointer;
    display:inline-block;
    width:auto;
}

.w-demo-form button[type="submit"]{
    margin-top:1em;
}

.w-demo-form input[type="text"],
.w-demo-form input[type="email"],
.w-demo-form input[type="password"],
.w-demo-form input[type="search"],
.w-demo-form input[type="date"],
.w_demo-login-form input[type="text"],
.w_demo-login-form input[type="email"],
.w_demo-login-form input[type="password"]{
    border:1px solid #ccc;
    padding:1em;
    border-radius:6px;
}

.w-demo-form textarea{
    height:200px;
    width:100%;
    display:block;
    border-radius:6px;
    padding:1em;
}

.w_demo-login-form{
    padding:.5em 1em;
    border:1px solid #ddd;
    margin-bottom:2em;
}
